.background {
    -fx-background-color: lavender;
}

VBox GridPane{
    -fx-background-color: rgb(230, 230, 230);
    -fx-border-color: pink;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: pink, rgb(230, 230, 230);
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 5px, 4px;
    -fx-cursor: hand;
    -fx-font-family: "Georgia";

}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, #303030, 10, 0, 5, 5);
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: rgb(255, 223, 228);
    -fx-font-weight: bold;
    -fx-text-fill: rgb(39, 39, 39);
    -fx-translate-x: 5px;
    -fx-effect: dropshadow(three-pass-box, #303030, 10, 0, 0, 0);
}

.label {
    -fx-font-family: "Georgia";
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-border-color: pink;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-family: "Georgia";
}

.text-field:focused {
    -fx-border-color: rgb(255, 145, 163);
    
}